:root{
    --branco : #FDFFFC;
    --preto : #15191D;
    --azul : #33658A;
    --amarelo : #F6AE2D;
    --marrom : #7A542E;
    --verde : #0C7C59;
    --vermelho: #D64933;

    --fonteTitulo : "Lato", sans-serif;
    --fonteTexto: "Noto Sans", sans-serif;
    --fonteTexto2 : "Roboto Mono", monospace;
    --fonteLogo : "Jaro", sans-serif;

}